<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">
  <script src="__STATIC__/plugins/layui/layui.js"></script>
  <title>添加管理员</title>
</head>

<body style="padding: 10px;">

  <div class="layui-form">

    <div class="layui-form-item">
      <label class="layui-form-label" for="username">用户名</label>
      <div class="layui-input-inline">
        <input id='username' type="text" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label" for="role">角&nbsp;&nbsp;&nbsp;色</label>
      <div class="layui-input-inline">
        <select name="" id="">
          {volist name="data.lists" id="vo"}
            <option>{$vo.title}</option>
          {/volist}
        </select>
      </div>
    </div>


    <div class="layui-form-item">
      <label class="layui-form-label" for="pwd">密&nbsp;&nbsp;&nbsp;码</label>
      <div class="layui-input-inline">
        <input id='pwd' type="password" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;态</label>
      <div class="layui-input-inline">
        <input type="checkbox" lay-skin='primary' title="禁用">
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn">禁用</button>
      </div>
    </div>

  </div>

  <script>
    layui.use(['layer', 'form'], function () {
      layer = layui.layer
      $ = layui.jquery
      form = layui.form
    })
  </script>

</body>

</html>