<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">
  <script src="__STATIC__/plugins/layui/layui.js"></script>
  <title>Document</title>
  <style>
    body {
      padding: 10px;
      overflow: hidden;
    }

    .header span {
      padding: 5px;
      background: #009688;
      color: #fff;
    }

    .header .add-btn {
      float: right;
      margin-right: 12px;
      position: relative;
      bottom: 8px;
    }

    .header>div {
      border: 1px solid #009688;
      width: 100%;
      position: relative;
      top: 4px;
    }
  </style>
</head>

<body>

  <div class="header">
    <span>管理员列表</span>
    <button class="layui-btn layui-btn-sm add-btn" onclick="tapAdd()">添加</button>
    <div></div>
  </div>

  <table class="layui-table" style="text-align: center;">
    <tbody>
      <thead>
        <tr>
          <th>ID</th>
          <th>用户名</th>
          <th>真实姓名</th>
          <th>角色</th>
          <th>状态</th>
          <th>添加时间</th>
          <th>操作</th>
        </tr>
      </thead>

    <tbody>
      {volist name="data.lists" id="vo"}
      <tr>
        <td>{$vo.id}</td>
        <td>{$vo.username}</td>
        <td>{$vo.realname}</td>
        <td>{$vo.gid}</td>
        <td>{$vo.status == 0 ? '正常' : '<span style="color: red;">禁用</span>'}</td>
        <td>{:date('Y-m-d H:i:s',$vo.add_time)}</td>
        <td>
          <button class="layui-btn layui-btn-xs" onclick="tapEdit({$vo.id})">编辑</button>
          <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="tapDelete({$vo.id})">删除</button>
        </td>
      </tr>
      {/volist}
    </tbody>
    </tbody>
  </table>

  <script>
    // 在layui中使用layer layer也可以作为独立的组件使用
    layui.use('layer', function () {
      layer = layui.layer

      $ = layui.jquery
    })

    // 添加
    function tapAdd() {
      layer.open({
        type: 2,
        title: '添加管理员',
        shade: .3,
        area: ['480px','420px'],
        content: '/admins/Admin/add'
      });
    }

    // 删除
    function tapDelete(id) {
      $.post('/admins/admin/delete',{id: id}, function(res){
        console.log(res);
        if(res.code > 0) {
          layer.msg(res.msg)
        }else {
          layer.msg(res.msg)
          setTimeout(()=> { window.location.reload() },1000)
        }
      },'json')
    }

    // 编辑
    function tapEdit(id) {
      layer.msg('这是id:' + id+',但是我不想做了')
    }
  </script>
</body>

</html>